.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.navLogo,
.navToggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.navList {
  display: flex;
  column-gap: 2rem;
}
.navIcon,
.navClose,
.navToggle {
  display: none;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

/*Active Link*/

.activeLink,
.navLink:hover {
  color: var(--title-color-dark);
}

.scrollHeader {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
/*Break Points*/

@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }
  .nav {
    height: var(--header-height);
  }

  .navMenu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .showMenu {
    bottom: 0;
  }

  .navList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .navClose {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  .navClose:hover {
    color: var(--title-color-dark);
  }
  .navIcon {
    font-size: 1.2rem;
  }
  .navToggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .navIcon,
  .navClose,
  .navToggle {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .navMenu {
    padding: 2rem 0.25rem 4rem;
  }
  .navList {
    column-gap: 0;
  }
}
